.App {
  font-family: ;
  padding: 20px;
  text-shadow: #062330;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
}
.app-background {
   background-color: #062330;

}

* {
  background-color: #e3e9ce;
}
